#include <zephyr/dt-bindings/display/ili9xxx.h> // For pixel format.
#include <zephyr/dt-bindings/input/input-event-codes.h>

// For some reason upstream maps buttons to keys for input codes, but should
// really be buttons.


&adafruit_2_8_tft_touch_v2_ili9340 {
    /* TODO: Adjust width/height/rotation as needed. */
    pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB565>;
};

&button0 {
    zephyr,code = <INPUT_BTN_0>;
};

&button1 {
    zephyr,code = <INPUT_BTN_1>;
};

&button2 {
    zephyr,code = <INPUT_BTN_2>;
};

&button3 {
    zephyr,code = <INPUT_BTN_3>;
};
